In [2]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [14]:
for num in range(10,20):
    print(num)

10
11
12
13
14
15
16
17
18
19

In [15]:
lists=[10,11,12,13,14,15,16,17,18,19,20]
for temp in lists:
    print(temp)

10
11
12
13
14
15
16
17
18
19
20

In [16]:
list=[10,20,14,55,43,87,76]
print(len(list))

7

In [18]:
list3=["a","r","t","i","f","i","c","i","a","l"," ","i","n","t","e","l","l","i","g","e","n","c","e"]
for temp in list3:
    print (temp)

a
r
t
i
f
i
c
i
a
l

i
n
t
e
l
l
i
g
e
n
c
e

In [2]:
input ("-Your Name-")
int (input("-Your Age-"))
input("-Your Profession-")

-Your Name-Raj
-Your Age-78
-Your Profession-service support

'service support'

In [7]:
tuple1=(1,'Welcome',2,'Hope')
print(tuple1)

(1, 'Welcome', 2, 'Hope')

In [8]:
tuple1=(0,1,2,3)
tuple2=('python','HOPE')
tuple3=(tuple1,tuple2)
print(tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [7]:
lists=[20,10,16,19,25,1,276,188]
for num in lists:
    if((num%2)==1):
        print(num,"is odd")

19 is odd
25 is odd
1 is odd

In [10]:
num=[20,10,16,19,25,1,276,188]
for num in lists:
    if((num%2)==0):
        print(num,"is even")

20 is even
10 is even
16 is even
276 is even
188 is even